*{
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* transition: all .2s linear; */
    /* outline: 2px solid red; */
}
:root{
    --reddishbrown: #8A6A6A;
    --ashblack: #59605B;
    --lightblack: #313131;
}
main{
    overflow-x: hidden;
}
nav{
    background-color: #B2B4B2;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    padding-left: 5rem;
    padding-right: 5rem;
}
.home{
    background-color: #B2B4B2;
    /* padding-left: 5rem; */
    /* padding-right: 5rem; */
    padding: 4rem 5rem 0 5rem;
    height: 100vh;
}
.logo{
    color: var(--ashblack);
    font-size: 24px;
    font-weight: 600;
}
.colored-logo{
    color: var(--reddishbrown);
}
.nav-li{
    font-size: 18px;
    color: #575E59;
    position: relative;
    text-align: none;
    display: block;
}
.nav-li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}
.nav-li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.dark-mode{
    color: #626362;
    font-size: 20px;
}
#change-text{
    color:var(--reddishbrown);
    font-size: 32px;
    font-weight: 600;
}
.boldName{
    font-size: 54px;
    color:var(--reddishbrown);
    /* width: 80%; */
    font-weight: 600;
}
.bio-home{
    color:var(--lightblack);
    font-size: 20px;
    text-wrap: balance;
}
#home-abt{
    /* font-size: 22px; */
    /* color: #575E59; */
    /* width: 80%; */
    font-size: 32px;
    font-weight: 600;
    color: var(--lightblack);
}
.home-img{
    border-radius: 10%;
    width: 350px;
    height: 350px;
    border: 5px solid #8A6A6A;
}
.hiya{
    font-size: 30px;
    font-weight: 600;
    color: var(--lightblack);
}
.emoji {
    font-size: 30px;
    /* min-width: 1.4em; */
    /* margin: 0.3em 0.4em; */
    text-align: center;
}
.emoji::after {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.wave::after {
    content: '✋';
    --emoji: '👋';
    animation-name: twoFrames;
    animation-duration: 1s;
}
.job-des{
    font-size: 32px;
    font-weight: 600;
    color: var(--lightblack);
}
.hire-btn{
    background-color: #8A6A6A;
    font-weight:600 ;
}
.hire-btn:hover{
    background-color: #5e4747;
}
.view-btn{
    font-weight:600;
    color: #5e4747;
    border: 2px solid #8A6A6A;
}
.view-btn:hover{
    background-color: #8A6A6A;
    color: #fff;
}
.socials-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 5px;
    background-color:#8A6A6A;
    transition: transform 0.3s ease-in-out;
}
.socials-icon:hover{
    transform: scale(1.2);
}
#about{
    background-color: #eaebea;
    padding-left: 5rem;
    padding-right: 5rem;
}
.abt-me{
    color: var(--reddishbrown);
    font-size: 26px;
    font-weight: 600;
}
.abt-me-tx{
    font-size: 20px;
    color: var(--lightblack);
    width: 90%;
    text-wrap: balance;
}
.skills-div{
    height: auto;
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* background-color: var(--reddishbrown); */
}
.each-skill{
    /* display: grid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
    /* grid-row: inherit; */
}
.skills-logo{
    width: 45px;
    height: 40px;
}
.left-abt{
    width: 100%;
}
#projects{
    background-color: #B2B4B2;
    padding-left: 5rem;
    padding-right: 5rem;
}
.projects-card{
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease-in-out;
}
.projects-container{
    position: relative;
    width: 369px;
    height: 250px;
    overflow: hidden;
}
.image-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.315);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.description{
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    z-index: 1;
}
.projects-container:hover{
    filter: blur(1px);
}
.projects-container:hover .image-overlay{
    opacity: 1;
}
.contact{
    background-color: #eaebea;
    padding-left: 5rem;
    padding-right: 5rem;
}
footer{
    width: 100%;
    /* height: 100px; */
    padding: 20px;
    background-color: #5e4747;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.contact-us{
    width: 100px;
    height: 100px;
}
.quote-div{
    color: var(--lightblack);
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}
figcaption{
    color: var(--lightblack);
    font-size: 18px;
}
#rightHome{
    /* border: 1px solid #8A6A6A; */
    /* width: 50%; */
    /* height: 50%; */
    /* border-radius: 50%; */
    position: relative;
    /* filter: blur();
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* background-color: red; */
}
.profile-circle{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 500px; 
    height: 530px; 
    border-radius: 50%;
    background-color: #8a6a6a59; 
    z-index: 1;
    filter: blur(30px);
    left: 320px;
    top: 200px;

}
.firstPix{
    position: absolute;
    width: 100%;
    height: 930px;
    /* border-radius: 0 0 20% 20%; */
    /* top: -380px; */
    transform: translate(-50%, -50%);
    /* align-items: center; */
    /* left: 20px; */
    /* border-bottom: 1px solid #8A6A6A; */
    /* border-radius: 50%; */
    object-fit: cover;
    z-index: 2;
    left: 350px;

}
.hamburger{
    display: none;
    font-size: 25px;
}
.close{
    display: none;
    font-size: 25px;
}
/* .drop-downnav{
    display: none;
    width: 100%;
    height: auto;
    background-color: #ffffff86;
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem; */
    /* padding-top: -50px; */
    /* top: -20px; */
/* } */
/* .mobile-nav{
    display: none;
    width: 100%;
    height: auto;
    /* background-color: #ffffff86; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */ */
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    /* padding-top: -50px; */
    /* top: -20px; */
/* }
#close{ */
    /* font-size: 25px;
    text-align: right;
    display: none;
} */
/* .hidden-dd{
    display: flex;
    flex-direction: column;
} */
@keyframes twoFrames {
    50% {
        content: var(--emoji);
    }
}

@keyframes threeFrames {
    33.333% {
        content: var(--emoji-1);
    }

    66.666% {
        content: var(--emoji-2);
    }
}






@media screen and (max-width:500px) {
    
}

@media screen and (max-width: 600px) {
    .nav-li{
        display: none;
    }
    nav{
        /* display: flex; */
        /* justify-content: space-between; */
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hamburger{
        display: block;
    }
    .home{
        padding-left: 2rem;
        padding-right: 2rem;
        flex-wrap: wrap;
    }
    .about{
        padding-left: 2rem;
        padding-right: 2rem;
        flex-wrap: wrap;
    }
    .projects{
        padding-left: 2rem;
        padding-right: 2rem;
        flex-wrap: wrap;
    }
    .contact{
        padding-left: 2rem;
        padding-right: 2rem;
        flex-wrap: wrap;
    }
    /* .drop-downnav{
        display: block;
    } */
}



  

